*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
 background-color:#000; 
}

h1 {
  font-size: 110px;
  color: white;
  text-align: center;
  background-color:#662222;
}

h2 {
  font-size: 45px;
  color: white;
  text-align:left;
}

p { 
  font-size: 30px;
  color: white;
  text-align:left ;  
}

footer{
   background-color:#662222;
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
}


a{
  color:white;
}

a {
   border: 1px solid white;
   background-color:#D9D9D9;
   padding: 10px 20px 10px 20px;
   border-radius: 10%;
   margin:15px;
   text-decoration:none;
   font-size: 20px;
    color:black;
}
  
footer{
   background-color:#662222;
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
}

