*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
 background-color:#000; 
}


h1 {
  font-size: 110px;
  color: white;
  text-align: center;
  background-color:#662222;
}


nav {
   text-align: center;
}
  

nav a {
   border: 1px solid white;
   background-color:#D9D9D9;
   padding: 10px 20px 10px 20px;
   border-radius: 10%;
   margin:15px;
    margin-top:30px;
    margin-bottom:30px;
   text-decoration:none;
   font-size: 20px;
   color:black;
}

h2 {
  font-size: 50px;
  color: white;
  text-align:left ;
}

p {
  font-size: 30px;
  color: white;
  text-align:left ;
}

img{
  width:400px;
  height:400px;
}

h6 a{ 
   background-color:#662222;
   text-decoration:none;
   font-size: 25px;
   color:white;
}
 

h6{ text-align:center ;}

footer{
   background-color:#662222;
   position:fixed;
   bottom:0;
   left:0;
   width:100%;
}


.information{
  margin-bottom:100000px;
  border:10px solid black;
}
